lowatt_enedis/wsdl/RecherchePoint/Services/RecherchePoint/RecherchePoint-v2.0.wsdl

<wsdl:definitions name="RecherchePoint-V2.0" targetNamespace="http://www.enedis.fr/sge/b2b/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.enedis.fr/sge/b2b/services" xmlns:ope="http://www.enedis.fr/sge/b2b/services/rechercherpoint/v2.0" xmlns:tec="http://www.enedis.fr/sge/b2b/technique/v1.0">
	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="RechercherPoint-v2.0.xsd" namespace="http://www.enedis.fr/sge/b2b/services/rechercherpoint/v2.0"/>
			<xs:import schemaLocation="../../Dictionnaires/Technique/ENEDIS.Dictionnaire.Technique.v1.0.xsd" namespace="http://www.enedis.fr/sge/b2b/technique/v1.0"/>
		</xs:schema>
	</wsdl:types>
	<!-- Messages -->
	<wsdl:message name="rechercherPoint">
		<wsdl:part name="rechercherPoint" element="ope:rechercherPoint"/>
	</wsdl:message>
	<wsdl:message name="rechercherPointResponse">
		<wsdl:part name="rechercherPointResponse" element="ope:rechercherPointResponse"/>
	</wsdl:message>
	<!-- Erreur -->
  <wsdl:message name="erreur">
    <wsdl:part name="Erreur" element="tec:erreur"/>
  </wsdl:message>
  	<!-- Entete -->
	<wsdl:message name="entete">
		<wsdl:part name="entete" element="tec:entete"/>
	</wsdl:message>
	<!-- EnteteRetour -->
	<wsdl:message name="acquittement">
		<wsdl:part name="acquittement" element="tec:acquittement"/>
	</wsdl:message>
	<!-- portType -->
	<wsdl:portType name="RecherchePointPortType">
		<wsdl:operation name="rechercherPoint">
			<wsdl:input message="tns:rechercherPoint" name="rechercherPoint"/>
			<wsdl:output message="tns:rechercherPointResponse" name="rechercherPointResponse"/>
			<wsdl:fault message="tns:erreur" name="erreur"/>
		</wsdl:operation>
	</wsdl:portType> 
	<!-- binding -->
	<wsdl:binding name="RecherchePointBinding" type="tns:RecherchePointPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- rechercherPoint -->
		<wsdl:operation name="rechercherPoint">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="rechercherPoint">
				<soap:body use="literal"/>
				<soap:header use="literal" part="entete" message="tns:entete"/>
			</wsdl:input>
			<wsdl:output name="rechercherPointResponse">
				<soap:body use="literal"/>
				<soap:header use="literal" part="acquittement" message="tns:acquittement"/>
			</wsdl:output>
	  		<wsdl:fault name="erreur">
				<soap:fault name="erreur" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<!-- service -->
	<wsdl:service name="RecherchePointV2.0">
		<wsdl:port name="RecherchePointPort" binding="tns:RecherchePointBinding">
			<soap:address location="https://sge-b2b.enedis.fr/RecherchePoint/v2.0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>