lowatt_enedis/wsdl/AccesDonneesOptionPublication/Services/CommandeModificationOptionsServicesAccesDonnees/CommanderModificationOptionsServicesAccesDonnees-V1.0.wsdl

<wsdl:definitions name="CommanderModificationOptionsServicesAccesDonnees-V1.0"
                  targetNamespace="http://www.enedis.fr/sge/b2b/commanderModificationOptionsServicesAccesDonnees/v1.0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.enedis.fr/sge/b2b/commanderModificationOptionsServicesAccesDonnees/v1.0"
                  xmlns:ope="http://www.enedis.fr/sge/b2b/commanderModificationOptionsServicesAccesDonnees/v1.0"
                  xmlns:dic="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc"
                  xmlns:tec="http://www.enedis.fr/sge/b2b/technique/v1.0">

    <wsdl:types>
        <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import schemaLocation="../../xsd/CommanderModificationOptionsServicesAccesDonnees-V1.0.xsd"
                       namespace="http://www.enedis.fr/sge/b2b/commanderModificationOptionsServicesAccesDonnees/v1.0"/>
            <xs:import schemaLocation="../../xsd/Dictionnaires/Metier/ENEDIS.Dictionnaire.TypeComplexe.v5.0.xsd"
                       namespace="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc"/>
            <xs:import schemaLocation="../../xsd/Dictionnaires/Technique/ENEDIS.Dictionnaire.Technique.v1.0.xsd"
                       namespace="http://www.enedis.fr/sge/b2b/technique/v1.0"/>
        </xs:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="commanderModificationOptionsServicesAccesDonnees">
        <wsdl:part name="commanderModificationOptionsServicesAccesDonnees" element="ope:commanderModificationOptionsServicesAccesDonnees"/>
    </wsdl:message>
    <wsdl:message name="commanderModificationOptionsServicesAccesDonneesResponse">
        <wsdl:part name="commanderModificationOptionsServicesAccesDonneesResponse" element="ope:commanderModificationOptionsServicesAccesDonneesResponse"/>
    </wsdl:message>

    <!-- Erreur -->
    <wsdl:message name="erreur">
        <wsdl:part name="Erreur" element="tec:erreur"/>
    </wsdl:message>

    <!-- Entete -->
    <wsdl:message name="entete">
        <wsdl:part name="entete" element="tec:entete"/>
    </wsdl:message>

    <!-- EnteteRetour -->
    <wsdl:message name="acquittement">
        <wsdl:part name="acquittement" element="tec:acquittement"/>
    </wsdl:message>

    <!-- portType -->
    <wsdl:portType name="CommanderModificationOptionsServicesAccesDonneesPortType">
        <wsdl:operation name="commanderModificationOptionsServicesAccesDonnees">
            <wsdl:input message="tns:commanderModificationOptionsServicesAccesDonnees" name="commanderModificationOptionsServicesAccesDonnees"/>
            <wsdl:output message="tns:commanderModificationOptionsServicesAccesDonneesResponse"
                         name="commanderModificationOptionsServicesAccesDonneesResponse"/>
            <wsdl:fault message="tns:erreur" name="erreur"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- binding -->
    <wsdl:binding name="CommanderModificationOptionsServicesAccesDonneesBinding" type="tns:CommanderModificationOptionsServicesAccesDonneesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="commanderModificationOptionsServicesAccesDonnees">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="commanderModificationOptionsServicesAccesDonnees">
                <soap:body use="literal"/>
                <soap:header use="literal" part="entete" message="tns:entete"/>
            </wsdl:input>
            <wsdl:output name="commanderModificationOptionsServicesAccesDonneesResponse">
                <soap:body use="literal"/>
                <soap:header use="literal" part="acquittement" message="tns:acquittement"/>
            </wsdl:output>
            <wsdl:fault name="erreur">
                <soap:fault name="erreur" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- service -->
    <wsdl:service name="CommanderModificationOptionsServicesAccesDonnees-V1.0">
        <wsdl:port name="CommanderModificationOptionsServicesAccesDonneesPort" binding="tns:CommanderModificationOptionsServicesAccesDonneesBinding">
            <soap:address location="https://sge-ws.enedis.fr/CommandeModificationOptionsServicesAccesDonnees/v1.0"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
