lowatt_enedis/wsdl/CommandeAccesDonneesMesures/Services/CommanderAccesDonneesMesures/CommanderAccesDonneesMesures-V1.0.wsdl

<wsdl:definitions name="CommanderAccesDonneesMesures-V1.0"
                  targetNamespace="http://www.enedis.fr/sge/b2b/commandeaccesdonneesmesures/v1.0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.enedis.fr/sge/b2b/commandeaccesdonneesmesures/v1.0"
                  xmlns:ope="http://www.enedis.fr/sge/b2b/commanderaccesdonneesmesures/v1.0"
                  xmlns:dic="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc"
                  xmlns:tec="http://www.enedis.fr/sge/b2b/technique/v1.0">

    <wsdl:types>
        <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import schemaLocation="./CommanderAccesDonneesMesures-V1.0.xsd"
                       namespace="http://www.enedis.fr/sge/b2b/commanderaccesdonneesmesures/v1.0"/>
            <xs:import schemaLocation="./ENEDIS.Dictionnaire.TypeComplexe.v5.0.xsd"
                       namespace="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc"/>
            <xs:import schemaLocation="./ENEDIS.Dictionnaire.Technique.v1.0.xsd"
                       namespace="http://www.enedis.fr/sge/b2b/technique/v1.0"/>
        </xs:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="commanderAccesDonneesMesures">
        <wsdl:part name="commanderAccesDonneesMesures" element="ope:commanderAccesDonneesMesures"/>
    </wsdl:message>
    <wsdl:message name="commanderAccesDonneesMesuresResponse">
        <wsdl:part name="commanderAccesDonneesMesuresResponse" element="ope:commanderAccesDonneesMesuresResponse"/>
    </wsdl:message>

    <!-- Erreur -->
    <wsdl:message name="erreur">
        <wsdl:part name="Erreur" element="tec:erreur"/>
    </wsdl:message>

    <!-- Entete -->
    <wsdl:message name="entete">
        <wsdl:part name="entete" element="tec:entete"/>
    </wsdl:message>

    <!-- EnteteRetour -->
    <wsdl:message name="acquittement">
        <wsdl:part name="acquittement" element="tec:acquittement"/>
    </wsdl:message>

    <!-- portType -->
    <wsdl:portType name="CommanderAccesDonneesMesuresPortType">
        <wsdl:operation name="commanderAccesDonneesMesures">
            <wsdl:input message="tns:commanderAccesDonneesMesures" name="commanderAccesDonneesMesures"/>
            <wsdl:output message="tns:commanderAccesDonneesMesuresResponse"
                         name="commanderAccesDonneesMesuresResponse"/>
            <wsdl:fault message="tns:erreur" name="erreur"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- binding -->
    <wsdl:binding name="CommanderAccesDonneesMesuresBinding" type="tns:CommanderAccesDonneesMesuresPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- commanderAccesDonneesMesuresITCResponse -->
        <wsdl:operation name="commanderAccesDonneesMesures">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="commanderAccesDonneesMesures">
                <soap:body use="literal"/>
                <soap:header use="literal" part="entete" message="tns:entete"/>
            </wsdl:input>
            <wsdl:output name="commanderAccesDonneesMesuresResponse">
                <soap:body use="literal"/>
                <soap:header use="literal" part="acquittement" message="tns:acquittement"/>
            </wsdl:output>
            <wsdl:fault name="erreur">
                <soap:fault name="erreur" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- service -->
    <wsdl:service name="CommanderAccesDonneesMesures-V1.0">
        <wsdl:port name="CommanderAccesDonneesMesuresPort" binding="tns:CommanderAccesDonneesMesuresBinding">
            <soap:address location="https://sge-b2b.enedis.fr/CommanderAccesDonneesMesures/v1.0"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
