lowatt_enedis/wsdl/CommandeTransmissionDonneesInfraJ/Dictionnaires/Metier/v5.0/ENEDIS.Dictionnaire.TypeComplexe.v5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc" xmlns:ds="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/ds" targetNamespace="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/dc" version="5.2.0">
	<xs:import namespace="http://www.enedis.fr/sge/b2b/dictionnaire/v5.0/ds" schemaLocation="ENEDIS.Dictionnaire.TypeSimple.v5.0.xsd"/>
	<xs:complexType name="AcceptabiliteResultatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AcceptabiliteResultatCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AcheminementTarifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AcheminementTarifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ActiviteSecteurType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ActiviteSecteurCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ActiviteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ActiviteCodeNafType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AdresseAfnorType">
		<xs:sequence>
			<xs:element name="ligne1" type="ds:AdresseAfnorLigneType" minOccurs="0"/>
			<xs:element name="ligne2" type="ds:AdresseAfnorLigneType" minOccurs="0"/>
			<xs:element name="ligne3" type="ds:AdresseAfnorLigneType" minOccurs="0"/>
			<xs:element name="ligne4" type="ds:AdresseAfnorLigneType" minOccurs="0"/>
			<xs:element name="ligne5" type="ds:AdresseAfnorLigneType" minOccurs="0"/>
			<xs:element name="ligne6" type="ds:AdresseAfnorLigneType"/>
			<xs:element name="ligne7" type="ds:AdresseAfnorLigneType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffaireAnnulationMotifRefusType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AffaireAnnulationMotifRefusCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AffaireAnnulationMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AffaireAnnulationMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AffaireClotureMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AffaireClotureMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AffaireEtatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AffaireEtatCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AffaireModificationMotifRefusType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
			<xs:element name="code" type="ds:AffaireModificationMotifRefusCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffaireNatureModificationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
			<xs:element name="code" type="ds:AffaireNatureModificationCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AffaireStatutType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AffaireStatutCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AlimentationEtatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AlimentationEtatCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AlimentationModeApresCompteurType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AlimentationModeApresCompteurCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AlimentationSecoursModeBasculeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AlimentationSecoursModeBasculeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ApplicationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ApplicationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AutoconsommationIndividuelleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:AutoconsommationIndividuelleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="BilanContinuiteFournitureCoupureTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:OptionBilanContinuiteFournitureCoupureTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="BilanContinuiteFournitureTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:OptionBilanContinuiteFournitureTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CalendrierType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CalendrierCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CentreGeographiqueType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CentreGeographiqueCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CircuitTempoType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CircuitTempoCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ClasseTemporelleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ClasseTemporelleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ClientFinalCategorieType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ClientFinalCategorieCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ClientPrioritaireTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ClientPrioritaireTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CommuneFranceType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CommuneFranceCodeInseeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CompteurIntensiteNominaleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CompteurIntensiteNominaleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CompteurSousTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CompteurModeleSousTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CompteurTensionNominaleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CompteurTensionNominaleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ConsommationTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ConsommationTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ConsuelMotifNonExigibiliteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ConsuelMotifNonExigibiliteCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ContratTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ContratTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CoordonnesGpsType">
		<xs:sequence>
			<xs:element name="latitude" type="ds:NbDecimalType"/>
			<xs:element name="longitude" type="ds:NbDecimalType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoupureLocalisationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CoupureLocalisationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CoupureMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CoupureMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CourrierModeleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CourrierModeleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CreneauHoraireType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:CreneauHoraireCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeChangementFrnCorrectifMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeChangementFrnCorrectifMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeCommunicationDistributeurTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeCommunicationDistributeurTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeDiverseComptageTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeDiverseComptageTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeDiverseInformationsTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeDiverseInformationsTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeDiverseQualiteFournitureTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeDiverseQualiteFournitureTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeDiverseReseauTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeDiverseReseauTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeMediaType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeMediaCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeMiseEnServiceCorrectiveMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeMiseEnServiceCorrectifMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeObjetType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeObjetCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DemandeTechniqueTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DemandeTechniqueTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DisjoncteurCalibreType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DisjoncteurCalibreCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DisjoncteurNatureType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DisjoncteurNatureCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DispositifComptageParticulariteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DispositifComptageParticulariteCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DispositifParticulierLimitationPerturbationsType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DispositifParticulierLimitationPerturbationsCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DomaineTensionType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DomaineTensionCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DureeType">
		<xs:sequence>
			<xs:element name="valeur" type="ds:NbDecimalType"/>
			<xs:element name="unite" type="ds:DureeUniteSymboleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DysfonctionnementNatureType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:DysfonctionnementNatureCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="EntrepriseCategorieType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:EntrepriseCategorieTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="EquipementElectriqueLocalisationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:EquipementElectriqueLocalisationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="EquipementElectriqueRegimeProprieteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:EquipementElectriqueRegimeProprieteCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FaisabiliteMotifImpossibiliteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FaisabiliteMotifImpossibiliteCodeType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FaisabiliteReserveMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FaisabiliteReserveMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FaisabiliteResultatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:BooleenType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FinaliteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FinaliteCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FormeJuridiqueType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FormeJuridiqueCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FraisType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FraisCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FraudeNatureType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FraudeNatureCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FraudeOuDysfonctionnementMethodeCalculType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FraudeOuDysfonctionnementMethodeCalculCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="FraudeOuDysfonctionnementnMethodeFacturationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:FraudeOuDysfonctionnementMethodeFacturationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="GeneriqueType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:Chaine15Type" use="required"/>
	</xs:complexType>
	<xs:complexType name="GrandeurPhysiqueType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:GrandeurPhysiqueCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="GroupePeriodeMobileType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:GroupePeriodeMobileCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="IntensiteType">
		<xs:sequence>
			<xs:element name="valeur" type="ds:NbDecimalType"/>
			<xs:element name="unite" type="ds:IntensiteUniteSymboleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntervenantTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:IntervenantTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionDemandeMotifRefusType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionDemandeMotifRefusCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionDeplanificationMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionDeplanificationMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionEtatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionEtatCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionNonRealisationMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionNonRealisationMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionPeriodeTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionPeriodeTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionPlanificationHorsDelaiMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionPlanificationHorsDelaiMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionRealisationEtatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionRealisationEtatCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InterventionReplanificationMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:InterventionReplanificationMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="LigneFraisType">
		<xs:sequence>
			<xs:element name="frais" type="dc:FraisType"/>
			<xs:element name="quantite" type="ds:NbEntierType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LignesFraisType">
		<xs:sequence>
			<xs:element name="ligneFrais" type="dc:LigneFraisType" maxOccurs="200"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LimiteurTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:LimiteurTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="LongueurType">
		<xs:sequence>
			<xs:element name="valeur" type="ds:NbDecimalType"/>
			<xs:element name="unite" type="ds:LongueurUniteSymboleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MesureDeclencheurType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:MesureDeclencheurCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MesureNatureType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:MesureNatureCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MesureOrigineType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:MesureOrigineCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MesureStatutType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:MesureStatutCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MesureTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:MesureTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MontantType">
		<xs:sequence>
			<xs:element name="valeur" type="ds:NbDecimalType"/>
			<xs:element name="unite" type="ds:DeviseAbreviationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NomenclatureActiviteEconomiqueEuropeenneType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:NomenclatureActiviteEconomiqueEuropeenneTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="NonPriseEnCompteAutoreleveMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:NonPriseEnCompteAutoreleveMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="OffreTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:OffreTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="OperationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:OperationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PeriodiciteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PeriodiciteCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PlageHeuresCreusesType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PlageHeuresCreusesCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PointAppartenanceRegroupementHebergeurDecomptantType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PointAppartenanceRegroupementHebergeurDecomptantCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PointAppartenanceRegroupementTurpeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PointAppartenanceRegroupementTurpeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PointEtatContractuelType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PointEtatContractuelCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PointSegmentClienteleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PointSegmentClienteleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrejudiceNatureType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PrejudiceNatureCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationCasType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PrestationCasCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationFacturationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:BooleenType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationFicheType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PrestationFicheCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationMotifNonFacturationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PrestationMotifNonFacturationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationMotifNonRealisationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PrestationMotifNonRealisationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationOptionType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:PrestationOptionCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PrestationRealisationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:BooleenType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProductionAutonomeCouplageModeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ProductionAutonomeCouplageModeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProductionCombustibleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ProductionCombustibleTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProductionFiliereType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ProductionFiliereTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProductionTechnologieType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ProductionTechnologieTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProgrammeCircuitChauffageTempoType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ProgrammeCircuitChauffageTempoCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ProgrammeCircuitEauTempoType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ProgrammeCircuitEauTempoCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="PuissanceType">
		<xs:sequence>
			<xs:element name="valeur" type="ds:NbDecimalType"/>
			<xs:element name="unite" type="ds:PuissanceUniteSymboleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RattachementPointRoleType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RattachementPointRoleCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RattachementTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RattachementTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RecevabiliteMotifRefusType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RecevabiliteMotifRefusCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RecevabilitePremiereMiseEnServicePourEssaiMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RecevabilitePremiereMiseEnServicePourEssaiMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RecevabiliteResultatType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RecevabiliteResultatCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReclamationSousTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ReclamationSousTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReclamationTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ReclamationTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RectificationMotifType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RectificationMotifCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RelaisCommandeTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RelaisCommandeTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RelaisNatureType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RelaisNatureCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReleveMediaType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ReleveMediaCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReleveModeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ReleveModeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RelevePlageType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:RelevePlageCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReleveQualificationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ReleveQualificationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReleveTraitementModeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ReleveTraitementModeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ResidenceTypeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ResidenceTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="SecteurGeographiqueType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:SecteurGeographiqueCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="SituationContractuelleGestionModeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:SituationContractuelleGestionModeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="StructureComptageType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:StructureComptageCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="StructureTarifaireContexteUtilisationType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:StructureTarifaireContexteUtilisationCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TensionLivraisonType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:TensionLivraisonCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TensionType">
		<xs:sequence>
			<xs:element name="valeur" type="ds:NbDecimalType"/>
			<xs:element name="unite" type="ds:TensionUniteSymboleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TourneeType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:TourneeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TransformateurCalibreType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:TransformateurCalibreCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TransformateurCouplageType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:TransformateurCouplageTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TransformateurCourantPositionType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:TransformateurCourantPositionCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TransformateurPrecisionClasseType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:TransformateurPrecisionClasseCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="UsageChantierType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:UsageChantierCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ZoneQualiteDesserteType">
		<xs:sequence>
			<xs:element name="libelle" type="ds:Chaine255Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="ds:ZoneQualiteDesserteCodeType" use="required"/>
	</xs:complexType>
</xs:schema>
