lowatt_enedis/wsdl/AccesDonneesOptionPublication/xsd/CommanderModificationOptionsServicesAccesDonnees-V1.0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sc="http://www.enedis.fr/sge/b2b/commanderModificationOptionsServicesAccesDonnees/v1.0"
           targetNamespace="http://www.enedis.fr/sge/b2b/commanderModificationOptionsServicesAccesDonnees/v1.0" version="1.0.0">
    <xs:element name="commanderModificationOptionsServicesAccesDonnees" type="sc:CommanderModificationOptionsServicesAccesDonneesType"/>
    <xs:element name="commanderModificationOptionsServicesAccesDonneesResponse" type="sc:CommanderModificationOptionsServicesAccesDonneesResponseType"/>
    <xs:complexType name="CommanderModificationOptionsServicesAccesDonneesType">
        <xs:sequence>
            <xs:element name="demande" type="sc:DemandeType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommanderModificationOptionsServicesAccesDonneesResponseType">
        <xs:sequence>
            <xs:element name="servicesModifies" type="sc:ServicesModifiesType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServicesModifiesType">
        <xs:sequence>
            <xs:element name="serviceSouscritId" type="sc:ServiceSouscritIdType" minOccurs="1" maxOccurs="100000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceSouscritIdType">
        <xs:sequence>
            <xs:element name="serviceSouscritId" type="sc:ServiceIdType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DemandeType">
        <xs:sequence>
            <xs:element name="donneesGenerales" type="sc:DonneesGeneralesType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="servicesSouscrits" type="sc:ServicesSouscritsType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DonneesGeneralesType">
        <xs:sequence>
            <xs:element name="pointId" type="sc:PointIdType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="initiateurLogin" type="sc:UtilisateurLoginType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="contratId" type="sc:ContratIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sens" type="sc:SensType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServicesSouscritsType">
        <xs:sequence>
            <xs:element name="serviceSouscrit" type="sc:ServiceSouscritType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceSouscritType">
        <xs:sequence>
            <xs:element name="serviceSouscritId" type="sc:ServiceIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ajouterOptionsPublication" type="sc:OptionsPublicationType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="supprimerOptionsPublication" type="sc:OptionsPublicationType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionsPublicationType">
        <xs:sequence>
            <xs:element name="optionPublication" type="sc:OptionPublicationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionPublicationType">
        <xs:sequence>
            <xs:element name="mesuresCorrigees" type="sc:BooleenType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="periodiciteTransmission" type="sc:PeriodiciteTransmissionType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ServiceIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BooleenType">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="ContratIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SensType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOUTIRAGE"/>
            <xs:enumeration value="INJECTION"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PointIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PeriodiciteTransmissionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UtilisateurLoginType">
        <xs:union memberTypes="sc:UtilisateurNniType sc:AdresseEmailType"/>
    </xs:simpleType>
    <xs:simpleType name="UtilisateurNniType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{6}([A-Z0-9]{2})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdresseEmailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z][\-._0-9a-zA-Z]{0,255}@[0-9a-zA-Z][\-._0-9a-zA-Z]{0,255}.[a-zA-Z]{2,63}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
