lowatt_enedis/wsdl/AccesDonneesOptionPublication/xsd/CommanderServicesAccesDonnees-V1.0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sc="http://www.enedis.fr/sge/b2b/commanderservicesaccesdonnees/v1.0"
           targetNamespace="http://www.enedis.fr/sge/b2b/commanderservicesaccesdonnees/v1.0" version="1.0.0">
    <xs:element name="commanderServicesAccesDonnees" type="sc:CommanderServicesAccesDonneesType"/>
    <xs:element name="commanderServicesAccesDonneesResponse" type="sc:CommanderServicesAccesDonneesResponseType"/>
    <xs:complexType name="CommanderServicesAccesDonneesType">
        <xs:sequence>
            <xs:element name="demande" type="sc:DemandeType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommanderServicesAccesDonneesResponseType">
        <xs:sequence>
            <xs:element name="affaires" type="sc:AffairesType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AffairesType">
        <xs:sequence>
            <xs:element name="affaire" type="sc:AffaireType" minOccurs="1" maxOccurs="100000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AffaireType">
        <xs:sequence>
            <xs:element name="affaireId" type="sc:AffaireIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="prestations" type="sc:PrestationsType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceSouscritMesures" type="sc:ServiceSouscritMesuresType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrestationsType">
        <xs:sequence>
            <xs:element name="prestation" type="sc:PrestationType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrestationType">
        <xs:sequence>
            <xs:element name="rang" type="sc:NbEntierType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fiche" type="sc:PrestationFicheType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="option" type="sc:PrestationOptionType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrestationFicheType">
        <xs:attribute name="libelle" type="sc:Chaine255Type" use="required"/>
        <xs:attribute name="code" type="sc:PrestationFicheCodeType" use="required"/>
    </xs:complexType>
    <xs:complexType name="PrestationOptionType">
        <xs:attribute name="libelle" type="sc:Chaine255Type" use="required"/>
        <xs:attribute name="code" type="sc:PrestationOptionCodeType" use="required"/>
    </xs:complexType>
    <xs:simpleType name="PrestationFicheCodeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="63"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PrestationOptionCodeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="63"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceSouscritMesuresType">
        <xs:sequence>
            <xs:element name="serviceSouscritId" type="sc:ServiceIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="mesuresTypeCode" type="sc:TypeDonneesType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DemandeType">
        <xs:sequence>
            <xs:element name="donneesGenerales" type="sc:DonneesGeneralesType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="servicesSouscrits" type="sc:ServicesSouscritsType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DonneesGeneralesType">
        <xs:sequence>
            <xs:element name="refExterne" type="sc:Chaine255Type"  minOccurs="0" maxOccurs="1"/>
            <xs:element name="pointId" type="sc:PointIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="initiateurLogin" type="sc:UtilisateurLoginType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="contratId" type="sc:ContratIdType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dateFin" type="sc:DateType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sens" type="sc:SensType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="declarationAccordClient" type="sc:DeclarationAccordClientType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeclarationAccordClientType">
        <xs:sequence>
            <xs:element name="accord" type="sc:BooleenType" minOccurs="1" maxOccurs="1"/>
            <xs:choice minOccurs="0">
                <xs:element name="personnePhysique" type="sc:PersonnePhysiqueType"/>
                <xs:element name="personneMorale" type="sc:PersonneMoraleType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServicesSouscritsType">
        <xs:sequence>
            <xs:element name="serviceSouscrit" type="sc:ServiceSouscritType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceSouscritType">
        <xs:sequence>
            <xs:element name="typeDonnees" type="sc:TypeDonneesType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="optionsPublication" type="sc:OptionsPublicationType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionsPublicationType">
        <xs:sequence>
            <xs:element name="optionPublication" type="sc:OptionPublicationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OptionPublicationType">
        <xs:sequence>
            <xs:element name="mesuresCorrigees" type="sc:BooleenType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="periodiciteTransmission" type="sc:PeriodiciteTransmissionType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Chaine255Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AffaireIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{4,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServiceIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdresseEmailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z][\-._0-9a-zA-Z]{0,255}@[0-9a-zA-Z][\-._0-9a-zA-Z]{0,255}.[a-zA-Z]{2,63}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BooleenType">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="ContratIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SensType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOUTIRAGE"/>
            <xs:enumeration value="INJECTION"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="CiviliteAbreviationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="Mme"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeDonneesType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NbEntierType">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PointIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PeriodiciteTransmissionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UtilisateurLoginType">
        <xs:union memberTypes="sc:UtilisateurNniType sc:AdresseEmailType"/>
    </xs:simpleType>
    <xs:simpleType name="UtilisateurNniType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{6}([A-Z0-9]{2})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonnePhysiqueType">
        <xs:sequence>
            <xs:element name="civilite" type="sc:CiviliteAbreviationType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="nom" type="sc:Chaine255Type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="prenom" type="sc:Chaine255Type" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonneMoraleType">
        <xs:sequence>
            <xs:element name="denominationSociale" type="sc:Chaine255Type" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
